// Шрифты

$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// Цвета

$transparent: transparent;
$basic-white: #ffffff;
$basic-gray: #f2f2f2;
$text-color: #444444;
$text-color-2: #222222;
$dark-gray: #111111;
$basic-black: #000000;
$primary-color: #68b738;
$secondary-color: #eaeaea;

// Размеры вьюпортов

$tablet-width: 768px;
$desktop-width: 1440px;
