.additionally-card__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.additionally-card__title {
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }
}

.additionally-card__descripsion {
  display: flex;
  font-size: 14px;
  line-height: 14px;
  color: $text-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.additionally-card__variable {
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.additionally-card__value {
  @media (min-width: $tablet-width) {
    min-width: 80px;
    margin-left: 10px;
    text-align: end;
  }
}


.additionally-card__button {
  width: 100%;
  margin-top: 15px;
}
