.assortment-card__title {
  text-transform: uppercase;
  line-height: 37px;

  &--slim::before {
    content: "";
    display: inline-block;
    background-image: url("../../images/icons/stack.svg#cat-slim");
    background-size: cover;
    background-repeat: no-repeat;
    width: 36px;
    height: 50px;
  }

  &--pro::before {
    content: "";
    display: inline-block;
    background-image: url("../../images/icons/stack.svg#cat-pro");
    background-size: cover;
    background-repeat: no-repeat;
    width: 67px;
    height: 28px;
  }
}

.assortment-card__descripsion {
  color: #444444;
}

.assortment-card__link {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
