.assortment-card__title {
  text-transform: uppercase;
  line-height: 37px;

  &--slim::before {
    @include icon-pseudoelement(url("../../images/icons/stack.svg#cat-slim"), $transparent, 36px, 50px);
  }

  &--pro::before {
    @include icon-pseudoelement(url("../../images/icons/stack.svg#cat-pro"), $transparent, 67px, 28px);
  }
}

.assortment-card__descripsion {
  color: $text-color;
}

.assortment-card__link {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  position: relative;
}
