.button-toogle {
  display: none;
  border: 0;
  height: 24px;
  width: 24px;
  background-color: $transparent;
  background-image: url("../../images/icons/stack.svg#burger");
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s ease;

  &--visible {
    display: block;
  }

  &--close {
    display: block;
    background-image: url("../../images/icons/stack.svg#cross");
    background-size: 18px 18px;
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
