.contacts {
  line-height: 20px;

  &--bg {
    background-color: $basic-gray;
  }
}

.contacts__wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding: 61px 40px;
  }
}

.contacts__slogan {
  grid-row: 1/-2;
  font-family: $secondary-font;
  color: $dark-gray;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts_wrappex-box {
  max-width: 140px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    max-width: 165px;
  }
}

.contacts__adress {
  color: $text-color;
  text-decoration: none;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: end;

    &:not(:last-child) {
      margin-bottom: 19px;
    }
  }
}

.contacts__map {
  margin-bottom: -5px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
