.contacts {
  line-height: 20px;
}

.contacts__slogan {
  font-family: $secondary-font;
  color: #111111;
  font-size: 16px;
  text-transform: uppercase;
}

.contacts__adress {
  color: #444444;
  text-decoration: none;
  font-style: normal;
}
