.form__wrapper-section {
  margin-bottom: 26px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  &--line {
    @media (min-width: $tablet-width) {
      border: 1px solid #e7e7e7;
      margin-bottom: 65px;
    }
  }

  &--line::after,
  &--line::before {
    content: " ";
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $basic-gray-lighter;
    margin-left: -20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__wrapper-label {
  padding-top: 35px;
  padding-bottom: 25px;


  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  &--input {
    display: grid;
    gap: 14px;
  }

  &--pick {
    padding-top: 28px;

    @media (min-width: $tablet-width) {
      padding: 28px 27px 32px;
    }
  }

  &--textarea {
    padding-top: 76px;
  }

  &--checkbox {
    padding-top: 51px;
    padding-bottom: 42px;
  }
}

.form__legend {
  display: inline-block;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    line-height: 36px;
    margin-bottom: 11px;
  }
}

.form__label {
  color: $text-color;

  &--input {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, max-content) auto;
    gap: 13px;
  }
}

.form__list {
  display: grid;
  row-gap: 23px;

  &--checkbox {
    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
      row-gap: 42px;
      column-gap: 60px;
    }
  }
}

.form__item {
  color: $text-color;
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.form__input {
  padding-left: 25px;
  height: 45px;

  @media (min-width: $tablet-width) {
    height: 52px;
  }
}

.form__textarea {
  min-height: 150px;

  @media (min-width: $tablet-width) {
    min-height: 175px;
  }
}
