.form__wrapper-section {
  margin-bottom: 24px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  &--line::after {
    content: " ";
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $basic-gray-lighter;
    margin-left: -20px;
  }
}

.form__wrapper-label {
  padding-top: 35px;
  padding-bottom: 25px;

  &--input {
    display: grid;
    gap: 14px;
  }

  &--pick {
    padding-top: 28px;
  }
}

.form__legend {
  display: inline;
  line-height: 26px;
  position: relative;

  &--line::after {
    content: " ";
    position: absolute;
    top: 60%;
    left: 100%;
    width: 100vh;
    height: 2px;
    background-color: $primary-color;
    margin-left: 20px;
  }
}

.form__label {
  color: $text-color;

  &--input {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, max-content) auto;
    gap: 13px;
  }
}

.form__list {
  &--pick {
    display: grid;
    gap: 18px;
  }
}

.form__item {
  color: $text-color;
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.form__input {
  padding-left: 25px;
  height: 45px;
}

.form__textarea {
  min-height: 150px;
}
