.form__wrapper-section {
  margin-bottom: 26px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, minmax(570px, 1000px));
    align-items: start;
    gap: 80px;
    padding-top: 66px;
    margin-bottom: 70px;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  &--line {
    @media (min-width: $tablet-width) {
      border: 1px solid #e7e7e7;
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: unset;
    }
  }

  &--line::after,
  &--line::before {
    content: " ";
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $basic-gray-lighter;
    margin-left: -20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__wrapper-label {
  padding-top: 35px;
  padding-bottom: 24px;


  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &--input {
    display: grid;
    gap: 14px;

    @media (min-width: $tablet-width) {
      gap: 20px;
    }
  }

  &--columns {
    display: grid;
    gap: 14px;

    @media (min-width: $tablet-width) {
      gap: 20px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(2, minmax(470px, 1000px));
      gap: 80px;
      padding-top: 62px;
      padding-bottom: 70px;
    }
  }

  &--pick {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $tablet-width) {
      padding: 28px 27px 32px;
      gap: 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 30px 27px 30px;
    }
  }

  &--textarea {
    padding-top: 36px;

    @media (min-width: $tablet-width) {
      padding-top: 67px;
      padding-bottom: 70px;
    }
  }

  &--checkbox {
    padding-top: 39px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $tablet-width) {
      gap: 30px;
      padding-top: 48px;
      padding-bottom: 65px;
    }
  }
}

.form__legend {
  display: inline-block;
  line-height: 26px;
  max-width: 190px;

  @media (min-width: $tablet-width) {
    line-height: 36px;
    margin-bottom: 11px;
    max-width: unset;
  }
}

.form__label {
  color: $text-color;

  &--input {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, max-content) auto;
    gap: 13px;
  }
}

.form__list {
  display: grid;
  row-gap: 23px;

  &--checkbox {
    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 42px;
      column-gap: 60px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 80px;
    }
  }
}

.form__item {
  color: $text-color;
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.form__wrapper-input {
  position: relative;
}

.form__input {
  padding-left: 25px;
  height: 45px;

  @media (min-width: $tablet-width) {
    height: 52px;
  }
}

.form__textarea {
  min-height: 150px;

  @media (min-width: $tablet-width) {
    min-height: 175px;
  }
}
