.link {
  font-family: $secondary-font;
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;

  &--product {
    color: $text-color-2;
  }

  &--arrow::after {
    content: " ";
    display: block;
    width: 32px;
    height: 10px;
    background-image: url("../../images/icons/stack.svg#icon-arrow");
    background-size: 32px 10px;
  }
}
