.link {
  font-family: $secondary-font;
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;

  &--product {
    color: $text-color-2;
  }

  &--arrow {
    @include icon-pseudoelement(url("../../images/icons/stack.svg#icon-arrow"), $transparent, 32px, 10px);
    position: absolute;
    top: 0;
    left: 0;
    background-position: -8px;
  }
}
