.main-nav {
  display: flex;
}

.main-nav__toogle {
  display: inline-flex;
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav__link {
  font-size: 20px;
  line-height: 20px;
}
