.mechanics-work__title {
  line-height: 40px;
}

.mechanics-work__item {
  &--leaf::before {
    content: "";
    display: inline-block;
    background-image: url("../../images/icons/stack.svg#icon-leaf");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary-color;
    width: 30px;
    height: 32px;
  }

  &--water::before {
    content: "";
    display: inline-block;
    background-image: url("../../images/icons/stack.svg#icon-water");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary-color;
    width: 27px;
    height: 29px;
  }

  &--eat::before {
    content: "";
    display: inline-block;
    background-image: url("../../images/icons/stack.svg#icon-eat");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary-color;
    width: 26px;
    height: 30px;
  }

  &--alarm::before {
    content: "";
    display: inline-block;
    background-image: url("../../images/icons/stack.svg#icon-alarm");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary-color;
    width: 27px;
    height: 31px;
  }
}

.mechanics-work__description {
  color: #444444;
}
