.program-selection {

}

.program-selection__header {

}

.program-selection__title {
  line-height: 36px;
}

.program-selection__description {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.program-selection__form {

}

.program-selection__footnote {
  text-align: center;
  line-height: 16px;
}
