.promo {
  display: flex;
  color: $basic-white;
  min-height: 478px;
  background:
    linear-gradient(rgba($primary-color, 0.85) 62.4%, rgba($primary-color, 0.85)),
    image-set(
    url("../../images/promo-bg--mobile@1x.jpg") type("image/jpg") 1x,
    url("../../images/promo-bg--mobile@2x.jpg") type("image/jpg") 2x);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 302px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    margin: 0;
    background: none;
  }
}

.promo__wrapper-box {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.promo__wrapper-title {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
    padding-left: 90px;
  }
}

.promo__title {
  padding-top: 27px;
  padding-bottom: 25px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 40px;
    line-height: 60px;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-family: $secondary-font;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 21px;
  }
}

.promo__image {
  display: flex;
  justify-content: center;
  order: 1;
}

.promo__button {
  margin-top: 3px;
  order: 2;

  @media (min-width: $tablet-width) {
    margin: 0;
    position: absolute;
    top: 29px;
    left: 90px;
    order: 1;
  }
}
