.title {
  font-family: $secondary-font;
  margin: 0;
  padding: 0;

  &--sm {
    font-size: 16px;
  }

  &--md {
    font-size: 24px;

    @media (min-width: $tablet-width) {
      font-size: 36px;
    }
  }

  &--lg {
    font-size: 36px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
    }
  }

  &--line::after {
    content: " ";
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $basic-gray-lighter;
    margin-top: 41px;
    margin-left: -20px;
  }
}
